{{!
    @template block_easysearch/easearch

    Muestra el contenido del bloque.

    Variables:
    * wwwroot. El wwwroot de moodle.
    * sesskey. Una sesskey válida.
    * searchallfields. Indica si el usuario puede buscar por todos los campos.
}}
{{#js}}

    require(['jquery', 'core/config', 'core/log'], function($, cfg, log) {
        $('.block_easysearch .content form').on('submit', function() {
            $.get(cfg.wwwroot + '/blocks/easysearch/empty_user_filter.php?removeall=1');
        });
    });

{{/js}}

{{#searchallfields}}

<form action="{{wwwroot}}/admin/user.php" method="post">
    <input name="mform_showmore_id_newfilter" type="hidden" value="0" />
    <input name="mform_isexpanded_id_newfilter" type="hidden" value="1" />
    <input name="addfilter" type="hidden" value="anyadir" />
    <input name="sesskey" type="hidden" value="{{sesskey}}" />
    <input name="_qf__user_add_filter_form" type="hidden" value="1" />
    <input name="realname_op" type="hidden" id="id_realname_op" value="0" />
    <input name="realname" type="text" class="form-control" id="id_realname" placeholder="{{#str}} fullname, block_easysearch {{/str}}" value=""/>
    <input name="profile_fld" type="hidden" id="id_profile_fld" value="0" />
    <input name="profile_op" type="hidden" id="id_profile_op" value="0" />
    <input name="profile" type="hidden" id="id_profile" value="" />
    <input name="cohort_op" type="hidden" id="cohort_op_id" value="2" />
    <input name="cohort" type="hidden" id="cohort_id" value="" />
</form>

<form action="{{wwwroot}}/blocks/easysearch/username_page.php" method="get" class="mform">
    <input name="username" type="text" class="form-control" placeholder="{{#str}} username, block_easysearch {{/str}}" value=""/>
</form>

<form action="{{wwwroot}}/blocks/easysearch/username_page.php" method="get" class="mform">
    <input name="idnumber" type="text" class="form-control" placeholder="Idnumber" value="" />
</form>

{{/searchallfields}}

<form class="mform" action="{{wwwroot}}/course/search.php" method="get" class="mform">
    <input type="text" name="search" value="" class="form-control" placeholder="{{#str}} course, block_easysearch {{/str}}" />
</form>
